include /mixins/forms.pug

doctype html
html(lang="en")
  head
    title= Title
    script(src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js")
    script(src='/assets/vendor.js')
    script(src='/assets/application.js')
    script(src='https://use.fontawesome.com/5cb9b1fb91.js')
    script(src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous")
  body
    nav.navbar.navbar-toggleable-md.navbar-light.bg-faded.fixed-top
      .navbar-header
        button.navbar-toggler.navbar-toggler-right(type="button" data-toggle="collapse"
        data-target="#" aria-expanded="false")
          span.navbar-toggler-icon
        a.navbar-brand(href="/") All-Tasks      
      .collapse.navbar-collapse(id="navbarSupportedContent")
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href=urlFor('users'))
              i.fa.fa-users
              |   Users
          if isSignedIn()      
            li.nav-item
              a.nav-link(href=urlFor('tasks'))
                i.fa.fa-tasks
                |   Tasks
        if isSignedIn() 
          ul.navbar-nav.mr-auto
            li.nav-item
              a.nav-link
                span Hello #{userName()}!&nbsp;&nbsp;
                  img.rounded-circle(src=userAvatar() width='25px' height='25px')    
          ul.navbar-nav
            li.nav-item
              div(style={width: '70px', clear: 'both'})
            li.nav-item
              a.nav-link(href=urlFor('userProfile', { id: userId() }))
                i.fa.fa-user 
                |   Profile
            li.nav-item
              a.nav-link(href=urlFor('session') data-method='delete' rel='nofollow')
                i.fa.fa-sign-out 
                |   Sign out
        else
          ul.navbar-nav
            li.nav-item
              a.nav-link(href=urlFor('newSession'))
                i.fa.fa-sign-in 
                |   Sign In
            li.nav-item
              a.nav-link(href=urlFor('newUser')) 
                i.fa.fa-user-plus
                |   Sign Up
    .container
        - const msg = flash.get() || errorMsg
        if msg
          .p-4
          .alert.alert-info.m-3= msg
        else  
          .p-5  
        block content
